.scene-btn {
  border: none;
  padding: 0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 200px;
}

.scene-btn > img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.target-container {
  position: absolute;
  display: block;
  width: 5%;
}

.targeting-box {
  box-sizing: border-box;
  border: 0.25rem solid rgb(66, 66, 66);
  width: 100%;
  height: 0;
  padding-bottom: 95%;
}

.character-targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 0.25rem solid goldenrod;
  background-color: rgba(211, 211, 211, 0.75);
}

.character-targets > button > img {
  width: 100%;
  border: 1px solid transparent;
}

.character-targets > button:hover {
  border: 1px solid rgba(211, 211, 211, 0.75);
  background-color: rgb(255, 217, 122);
}

button.select-character {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 1%px;
  width: 100%;
}
