.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.characters-bin {
  display: flex;
  gap: 5px;
}

.found-character {
  border-radius:  5px;
  background-color: green;
}