@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.characters-bin {
  display: flex;
  gap: 20px;
}

.found-character {
  border-radius: 5px;
  background-color: green;
  box-shadow: 0 0 10px rgb(247, 177, 3), 0 0 20px rgb(247, 177, 3),
    0 0 30px rgb(247, 177, 3), 0 0 40px goldenrod;
  animation: box-glow 3s ease-in-out infinite alternate;
}

.find-character {
  border-radius: 5px;
  background-color: grey;
}

@keyframes box-glow {
  from {
    box-shadow: 0 0 10px #fff;
  }

  to {
    box-shadow: 0 0 10px goldenrod;
  }
}

.arcade-btn {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background: rgb(18, 18, 18);
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: goldenrod;
  border: 5px solid goldenrod;
}

.arcade-btn:hover {
  box-shadow: 0 0 10px rgb(247, 177, 3), 0 0 20px rgb(247, 177, 3),
    0 0 30px rgb(247, 177, 3), 0 0 40px goldenrod;
  color: white;
}

label {
  display: flex;
  align-items: center;
}

#username {
  padding: 5px;
  width: 250px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  background: rgb(18, 18, 18);
  color: goldenrod;
  border: 1px solid goldenrod;
}

#username:focus, #username:hover {
  box-shadow: 0 0 10px rgb(247, 177, 3), 0 0 20px rgb(247, 177, 3),
    0 0 30px rgb(247, 177, 3), 0 0 40px goldenrod;
  color: white;

}
